<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <link rel="stylesheet" href="./css/weather.css">
</head>

<body>
    <!-- Navbar -->
    {{>navbar}}
    
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="location" placeholder="Enter your city" autocomplete="off"> 
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="today_date">Jan 13</p>
                        <p id="day">Thr</p>
                        <p id="timing">00:20 AM</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here...</p>
                        <div class="middle_layer data_hide" id="tempbox">
                            <p id="temp"><span>1</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
    
    <script src="js/script.js"></script>
    <script src="js/currTime.js"></script>
</body>
</html>